#city-form {
    float: left;
    padding-left: 0px;
}

#wIcon {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

#currentCity {
    text-align: center;
    width: 300px;
}
.forecast {
    margin: 3px;
}
#forecastContainer{
    float: right;
}


